.edit-object-definition-wrapper {
	position: relative;
	top: -3.5rem;
}

.lfr-objects__object-definition-details {
	margin-bottom: 25px;
	margin-top: 5.5rem;

	&-configuration {
		display: flex;
		flex-direction: column;
	}
}

.lfr-objects__object-definition-details-management-toolbar {
	position: sticky;
	top: 3.5rem;
	width: 100%;
	z-index: 1;

	.has-control-menu & .lfr__management-toolbar {
		top: 0;
	}
}

.lfr__object-web-edit-object-details-external-data-source-container {
	display: grid;
	position: relative;
}

.lfr__object-web-edit-object-details-external-data-source-panel {
	align-items: center;
	display: flex;

	&-container-beta {
		margin-left: 5px;
	}
}
