[#assign
	editMode = (layoutMode!"") == "edit"
	megaMenu = configuration.megaMenu!false
	showCaret = configuration.showCaret!false
	showIcon = configuration.showIcon!false
	showText = configuration.showText!false
]

<div class="one-dropdown ${megaMenu?then('one-dropdown-mega', '')} ${editMode?then('one-dropdown-edit', '')}">
	<button class="d-flex one-dropdown-trigger p-2" tabindex="0" type="button">
		<div class="align-items-center d-flex font-weight-semi-bold position-relative">
			[#if showIcon]
				<span class="align-self-center ml-1 one-dropdown-icon opacity-50" data-lfr-editable-id="icon" data-lfr-editable-type="html">
					<svg fill="none" height="17" viewBox="0 0 16 17" width="16" xmlns="http://www.w3.org/2000/svg">
						<g opacity="0.5">
							<mask height="16" id="mask0_1484_5235" maskUnits="userSpaceOnUse" style="mask-type:alpha" width="16" x="0" y="1">
								<path d="M4 13L10 11L12 5L6 7L4 13Z" fill="#6B6C7E" />
								<path clip-rule="evenodd" d="M8 1C10.1377 1 12.1465 1.83124 13.6562 3.34375C15.1689 4.85315 16 6.86249 16 9C16 11.1375 15.1689 13.1437 13.6562 14.6562C12.1465 16.1688 10.1377 17 8 17C5.8623 17 3.85645 16.1688 2.34375 14.6562C0.831055 13.1469 0 11.1375 0 9C0 6.86249 0.831055 4.85315 2.34375 3.34375C3.85352 1.83124 5.8623 1 8 1ZM2 9C2 12.3094 4.69043 15 8 15C11.3096 15 14 12.3094 14 9C14 5.69061 11.3096 3 8 3C4.69043 3 2 5.69061 2 9Z" fill="#6B6C7E" fill-rule="evenodd" />
							</mask>

							<g mask="url(#mask0_1484_5235)">
								<rect fill="#282934" height="16" width="16" y="1" />
							</g>
						</g>
					</svg>
				</span>
			[/#if]

			[#if showText]
				<div class="one-dropdown-text text-nowrap" data-lfr-editable-id="text" data-lfr-editable-type="text">
					Text
				</div>
			[/#if]

			[#if showCaret]
				<span class="ml-1 one-caret-icon">
					[@clay["icon"] symbol="caret-bottom"/]
				</span>
			[/#if]
		</div>
	</button>

	<div class="d-flex flex-column one-dropdown-content py-2">
		<lfr-drop-zone></lfr-drop-zone>
	</div>
</div>