<style>
	#ai-hub-button-${fragmentEntryLinkNamespace} {
		--btn-bg: ${configuration.buttonColor};
		--btn-color: ${configuration.fontColor};
	}
</style>

<a
	class="btn rounded-pill d-inline-flex align-items-center justify-content-center font-weight-bold transition-base btn-color-${configuration.buttonType} [#if configuration.buttonSize != 'md']btn-${configuration.buttonSize}[/#if]"
	href="${configuration.url}"
	id="ai-hub-button-${fragmentEntryLinkNamespace}"
>
	<span data-lfr-editable-id="button-text" data-lfr-editable-type="rich-text">Create an Agent</span>

	[#if configuration.showIcon]
		<span class="align-items-center d-inline-flex ml-2" data-lfr-editable-id="icon-html" data-lfr-editable-type="html">
			<svg class="lexicon-icon lexicon-icon-order-arrow-right mt-0" focusable="false" role="presentation">
				<use href="/o/admin-theme/images/clay/icons.svg#order-arrow-right"></use>
			</svg>
		</span>
	[/#if]
</a>